@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 71 14% 16%;
 
    --muted: 72 40% 96%;
    --muted-foreground: 72 16% 47%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 71 84% 5%;
 
    --card: 0 0% 100%;
    --card-foreground: 71 84% 5%;
 
    --border: 72 32% 91%;
    --input: 72 32% 91%;
 
    --primary: 72 75% 60%;
    --primary-foreground: 72 79% 22%;
 
    --secondary: 72 40% 96%;
    --secondary-foreground: 71 75% 60%;
 
    --accent: 72 40% 96%;
    --accent-foreground: 71 75% 60%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 72 40% 98%;
 
    --ring: 71 84% 5%;
 
    --radius: 0.375rem;
  }
 
  .dark {
    --background: 71 84% 5%;
    --foreground: 72 40% 98%;
 
    --muted: 72 32% 18%;
    --muted-foreground: 72 20% 65%;
 
    --popover: 71 84% 5%;
    --popover-foreground: 72 40% 98%;
 
    --card: 71 84% 5%;
    --card-foreground: 72 40% 98%;
 
    --border: 72 32% 18%;
    --input: 72 32% 18%;
 
    --primary: 72 40% 98%;
    --primary-foreground: 71 47% 11%;
 
    --secondary: 72 32% 18%;
    --secondary-foreground: 72 40% 98%;
 
    --accent: 72 32% 18%;
    --accent-foreground: 72 40% 98%;
 
    --destructive: 0 63% 30%;
    --destructive-foreground: 72 40% 98%;
 
    --ring: 72 27% 84%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
}

:root {
  --grid-color: #e4e7da;
  --menu: 300px;
  --info: 380px;
  --header: 100px;
  --chat: 75px;
}

body {
  font-family: 'Plus Jakarta Sans', 'Sans-serif';
}

body > * {
  position: relative;
  min-height: 100vh;
}

.grid-background {
  background: repeating-linear-gradient(90deg, var(--grid-color) 0, var(--grid-color) 1px, transparent 0, transparent 50%), repeating-linear-gradient(180deg, var(--grid-color) 0, var(--grid-color) 1px, transparent 0, transparent 50%);
  background-size: 20em 20em;
  background-color: #ffff;
  background-position: center;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background-color: #d5ec79;
  color: black;
}